<html>

  <head>

  <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>

   <script>

    AFRAME.registerComponent("dog1", {
      init: function () {
         console.log("  __      _");
         console.log("o'')}____//");
         console.log("`_/      )");
         console.log("(_(_/-(_/");
      },
     }
    );

   </script>

  </head>

  <body>
		<a-scene>
			<a-box
        scale="1.5 1.5 1.5"
				position="0 1 -5"
				rotation="0 0 0"
        animation="property : rotation; to: 360 360 10000; dur:2500; easing:linear; loop:true;"
        animation__color="property: components.material.material.color;
                 type: color;
                 from: red;
                 to: blue;
                 dur: 1000;
                 dir: alternate;
                 loop: true"
        wireframe="true"
        color="#ffffff"
        wireframeLinewidth="2"
        dog1>
			</a-box>

      <a-box
        scale="1.5 1.5 1.5"
				position="0 0 -5"
				rotation="0 0 0"
        animation="property : rotation; to: 360 360 10000; dur:2500; easing:linear; loop:true;"
        animation__color="property: components.material.material.color;
                 type: color;
                 from: purple;
                 to: green;
                 dur: 1000;
                 dir: alternate;
                 loop: true"
        wireframe="true"
        color="#ffffff"
        wireframeLinewidth="2"
        dog1>
			</a-box>

      <a-box
        scale="1.5 1.5 1.5"
				position="0 2 -5"
				rotation="0 0 0"
        animation="property : rotation; to: 360 360 10000; dur:2500; easing:linear; loop:true;"
        animation__color="property: components.material.material.color;
                 type: color;
                 from: green;
                 to: purple;
                 dur: 1000;
                 dir: alternate;
                 loop: true"
        wireframe="true"
        color="#ffffff"
        wireframeLinewidth="2"
        dog1>
			</a-box>

      <a-box
        scale="1.5 1.5 1.5"
				position="0 3 -5"
				rotation="0 0 0"
        animation="property : rotation; to: 360 360 10000; dur:2500; easing:linear; loop:true;"
        animation__color="property: components.material.material.color;
                 type: color;
                 from: blue;
                 to: red;
                 dur: 1000;
                 dir: alternate;
                 loop: true"
        wireframe="true"
        color="#ffffff"
        wireframeLinewidth="2"
        dog1>
			</a-box>

		<a-sky color="#000"></a-sky>

		</a-scene>

  </body>

</html>
